#root {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.app-container {
  width: 80%;
  text-align: center;
}

.header-container {
  margin-top: 20px;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
}

.logo {
  height: 2.5em;
  margin-right: 8px;
}

.title {
  color: #f0f0f0;
  height: 2.5em;
  line-height: 2.5em;
}

.info-btn {
  justify-content: flex-end;
}

.info-icon {
  color: #f0f0f0;
}

.instruction {
  color: #b6b6b6;
}

.input {
  width: 50%;
  border-radius: 8px;
  border: 1px solid transparent;
  border-color: #f0f0f0;
  padding: 0.6em;
  color: #f0f0f0;
  background: #303030;
  box-sizing: border-box;
}

.input:hover {
  border-color: #30c1d7;
  transition: border-color 0.25s;
}

.input:focus {
  border-color: transparent;
  outline-color: #f0f0f0;
  outline-style: solid;
  outline-width: 2px;
}

.player {
  margin-top: 20px;
}
.player iframe {
  width: 50%;
  border-radius: 12px;
}
